body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
  }

bv-video-player {
  height: 480px;
}

.qsup {
  color: red;
  font-weight: bolder;
  font-size: 0.7rem;
}

.group {
  border: 1px solid black;
  border-radius: 2px;
  padding: 20px;
  margin-top: 20px;
  position: relative;
}

.group::before {
  position: absolute;
  left: 15px;
  top: 0;
  transform: translateY(-60%);
  content: attr(data-title);
  background-color: white;
  padding: 2px 4px;
}
